@use "colors";

@font-face {
  font-family: Libel;
  src: url("assets/fonts/libel.otf");
}

body {
  background-color: colors.$background_color;
  color: colors.$background_color_dark;
  margin: 0;
}
